<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>personeel</display-name>
<!-- 	<context-param> -->
<!-- 		<param-name>contextConfigLocation</param-name> -->
<!-- 		<param-value>classpath:/spring/dao.xml</param-value> -->
<!-- 	</context-param> -->
  
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/JSP/404.jsp</location>
  </error-page>
</web-app>